// $dark-blue: #2d2d3e;
// $pink: #d88f85;
// $darker-pink: #C58279;
// $light-tan: #f3e0ce;
// $dark-tan: #d5b891;
// $background-tan: #DDCCBC;
$white: #fff;
$black: #000;
$logo-blue: rgb(32,66,91);
$logo-grey: rgb(170,170,170);
$logo-black: rgb(35,31,32);

//@font-face {
//  font-family: 'Parkway Hotel';
//  src: url(../fonts/ParkwayHotel.ttf);
//}
