@import 'defines';

body{
  background-color: $background-tan;
  margin: 0px;
  font-family: 'Parkway Hotel';
  color: $dark-blue;
}

.nav-bar{
  width: 100%;
  height: 65px;
  background-color: $dark-blue;
  position: fixed;
  z-index: 3;
  .nav-item{
    display: inline-block;
    float: left;
    margin-top: 15px;
    width: 14%;
    text-align: center;
    font-size: 25px;
    color: $dark-tan;
    cursor: pointer;
    a{
      color: $dark-tan;
      text-decoration: none;
      &:hover{
        color: $light-tan;
      }
    }
    &:hover{
      color: $light-tan;
    }
  }
  .events-dropdown-show{
    display: inline-block;
    position: absolute;
    top: 67px;
    left: 17%;
    background-color: $dark-blue;
    div{
      margin: 10px;
      a{
        color: $light-tan;
        text-decoration: none;
        &:hover{
          color: $dark-tan;
        }
      }
    }
  }
  .events-dropdown-hide{
    display: none;
  }
  img{
    width: 100px;
    float: right;
    margin-right: 50px;
  }
}

.footer{
  width: 100%;
  height: 50px;
  background-color: $dark-blue;
  position: fixed;
  bottom: 0px;
  text-align: center;
  z-index: 3;
  #footer-container{
    width: 40%;
    margin: 15px auto;
    text-align: center;
    .footer-item{
      display: inline-block;
      float: left;
      width: 25%;
      text-align: center;
      a{
        color: $light-tan;
        text-decoration: none;
      }
    }
  }
}

#main-logo{
  padding: 65px 50px;
  text-align: center;
  position: fixed;
  z-index: 1;
  img{
    width: 45%;
    opacity: .5;
  }
}

.content{
  position: absolute;
  z-index: 2;
  padding: 75px 50px;
  text-align: center;
  font-size: 25px;
  h1{
    font-size: 30px;
    color: $darker-pink;
    text-decoration: underline;
  }
  li{
    list-style-type: none;
  }
}
