@import 'defines';

body {
  background-color: $logo-grey;
  margin: 0px;
  font-family: 'Verdana';
  color: $logo-blue;
}

.nav-bar {
  width: 100%;
  height: 65px;
  background-color: $logo-blue;
  position: fixed;
  z-index: 3;
  .nav-item {
    display: inline-block;
    float: left;
    margin-top: 15px;
    width: 14%;
    text-align: center;
    font-size: 25px;
    color: $white;
    cursor: pointer;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $logo-grey;
      }
    }
    &:hover {
      color: $logo-grey;
    }
  }
  .events-dropdown-show {
    display: inline-block;
    position: absolute;
    top: 67px;
    left: 17%;
    background-color: $logo-black;
    div {
      margin: 10px;
      a {
        color: $logo-grey;
        text-decoration: none;
        &:hover {
          color: $logo-grey;
        }
      }
    }
  }
  .events-dropdown-hide {
    display: none;
  }
  img {
    width: 100px;
    float: right;
    margin-right: 50px;
  }
}

.footer {
  width: 100%;
  height: 50px;
  background-color: $logo-blue;
  position: fixed;
  bottom: 0px;
  text-align: center;
  z-index: 3;
  #footer-container {
    width: 40%;
    margin: 15px auto;
    text-align: center;
    .footer-item {
      display: inline-block;
      float: left;
      width: 25%;
      text-align: center;
      a {
        color: $logo-grey;
        text-decoration: none;
      }
    }
  }
}

#main-logo {
  padding: 0px 50px;
  text-align: center;
  position: fixed;
  z-index: -1;
  img {
    width: 45%;
    opacity: .3;
  }
}

.content {
  position: absolute;
  z-index: 2;
  padding: 75px 0px;
  text-align: center;
  font-size: 25px;
  width: 100%;
  li {
    list-style-type: none;
  }
}

#index {
  h1 {
    margin-top: 200px;
  }
}

#hackathon {
  .content{
      // text-align: left;
      margin: 50px;
      width: 85%;
  }
  h3 {
    text-decoration: underline;
  }
}

.overlay{
  border: $logo-blue 3px solid;
  background-color: $white;
  border-radius: 10px;
  width: 50%;
  margin-top: 200px;
  margin-left: 25%;
}

#organizers {
  .organizer{
      width: 50%;
      margin-left: 25%;
      margin-bottom: 75px;
      border-bottom: $logo-blue 1px solid;
      h3, h5{
        margin: 10px 0px;
      }

      img {
        width: 200px;
      }
      .info{
        font-size: 12px;
      }
      .bio{
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 20px;
      }
  }

}

#about {
  .content{
    width: 85%;
    margin-left: 50px;
  }
  h1 {
    font-size: 30px;
    color: $logo-blue;
    text-decoration: underline;
  }
}

#sponsors {
  h2{
    text-decoration: underline;
  }
  .sponsor-logo img{
    width: 35%;
    filter: brightness(0.00);
  }
}
