@import 'defines';

body{
  background-color: $light-tan;
  margin: 0px;
  font-family: 'Parkway Hotel';
}

.nav-bar{
  width: 100%;
  height: 65px;
  background-color: $dark-blue;
  .nav-item{
    display: inline-block;
    float: left;
    margin-top: 15px;
    width: 14%;
    text-align: center;
    font-size: 25px;
    a{
      color: $dark-tan;
    }
  }
  img{
    width: 100px;
    float: right;
    margin-right: 50px;
  }
}
