@import '_defines';
body {
    background-color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.nav-bar {
    position: fixed;
    height: 75px;
    top: 0;
    left: 0;
    background-color: $blue;
    color: $white;
    width: 100%;
    text-align: center;
    font-size: 36px;
    padding-top: 25px;
    img {
        width: 150px;
    }
    a {
        text-decoration: none;
    }
    a:active,
    a:visited {
        color: $white;
        text-decoration: none;
    }
    .nav-item {
        display: inline-block;
        width: 20%;
    }
}

.logo-container {
    margin-top: 100px;
    text-align: center;
    padding-top: 20px;
    img {
        width: 50%;
        margin-left: -30%;
    }
    div {
        position: absolute;
        display: inline-block;
        font-size: 7em;
        color: $blue;
        padding-top: 20px;
    }
}